{% extends "chatbot_app/master.html" %}
{% block title %}
   AI Roleplayer
{% endblock %}
{% block content %}
<div class="page-title">
<h2>AI Roleplayer Chatbot</h2>
<h3>Speak to your favorite character from any franchise</h3>
<!--add a space-->
{% if user.is_authenticated %}
			<li class="nav-item register-link">
				<span class="navbar-text">Hello, {{ user.username }}.</span>
			</li>
			<li class="nav-item login-link">
				<form action="{% url 'users:logout' %}" method="post">
					{% csrf_token %}
					<button class="btn btn-primary btn-login" type="submit">Log out</button>
				</form>
			</li>
		{% else %}
			<li class="nav-item register-link">
				<a class = "btn btn-primary btn-register" href="{% url 'users:register' %}">Register</a>
			</li>
			<li class="nav-item login-link">
				<a class = "btn btn-primary btn-login" href="{% url 'users:login' %}">Log in</a>
			</li>
		{% endif %}
</div>

<button id="hamburger">
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
</button>

<div id="previous-chats" style="display:none;">
    <form method="post" action="{% url 'chatbot_app:clear_chats' %}">
        {% csrf_token %}
        <!--<button type="submit" name="clear_chats" value="1">Clear All Chats</button>-->
    </form>
    
    {% for chat in previous_chats %}
    <div class="previous-chat">
        <div class="d-flex align-items-center">
            <!-- Display only the chats the user created if they're logged in -->
            {% if user.is_authenticated %}
                <button class="prev-chat-label btn btn-info" data-session-id="{{ chat.id }}">
                    <strong>{{ chat.character_choice }}</strong>
                </button>
                <!-- Updated part: Form for deleting a single chat -->
                <form method="post" action="{% url 'chatbot_app:clear_one_chat' %}" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="session_id" value="{{ chat.id }}">
                    <button type="submit" class="btn btn-secondary ml-2" name="clear_one_chat" value="1">X</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p>No previous chats found.</p>
{% endfor %}

</div>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                
                <div class="chatbox__content--header">
                    
                    <p class="chatbox__description--header"></p>
                    <form method="post" id="chat" action="{% url 'chatbot_app:chatbot' %}">
                        <!-- This token ensures that the request is coming from the same site. -->
                        {% csrf_token %}
                        
                        <!-- Input for character choice -->
                        <div class="choices">
                        <label for="character_choice">Enter the character you want to speak with:</label><br>
                        <textarea name="character_choice" rows = 1>{{ request.POST.character_choice }}</textarea><br><br>
                        
                        <!-- Input for associated media -->
                        <label for="media">Enter the name of the movie/book/etc The character is from:</label><br>
                        <textarea name="media_choice" rows = 1>{{ request.POST.media_choice }}</textarea><br><br>
                        </div>
                        <div class="chatbox__messages mb-3">
                            <div></div>
                        </div>
                        <!-- User input -->
                        <div class="chatbox__footer">
                            <textarea name="user_in" placeholder="Write a message...">{{ request.POST.user_in }}</textarea>
                            <div class="input-group-append">
                                <button class="btn btn-primary send__button">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="chatbox__button">
            
        </div>
    </div>

    <button class = "btn btn-primary new-chat-btn" id="new-chat-btn">New Chat</button>

</div>

<div class="response">
    <!-- Display the generated text 
{% if generated_text %}
    <h3><span>{{ request.POST.character_choice }}</span> Says:</h3>
    <p>{{ generated_text }}</p>
{% endif %}
-->
</div>
<script>
    class Chatbox {
        constructor() {
            this.args = {
                openButton: document.querySelector('.chatbox__button'),
                chatBox: document.querySelector('.chatbox__support'),
                sendButton: document.querySelector('.send__button')
            }
    
            this.state = false;
            this.messages = [];
        }
    
        display() {
            const {openButton, chatBox, sendButton} = this.args;
    
            openButton.addEventListener('click', () => this.toggleState(chatBox))
                
            const node = chatBox.querySelector('textarea[name="user_in"]');
            node.addEventListener("keyup", ({key}) => {
                if (key === "Enter") {
                    this.sendMessage(chatBox)
                }
            })

            // Attach form submission event listener here
            document.querySelector('#chat').addEventListener('submit', (e) => {
                e.preventDefault();
                this.sendMessage(chatBox);
            });
    
            this.bindPreviousChatButtons();
        }
    
        bindPreviousChatButtons() {
            document.querySelectorAll('.prev-chat-label').forEach(element => {
                element.addEventListener('click', () => {
                    const sessionId = element.getAttribute('data-session-id');
                    fetch(`/get_chat_details/${sessionId}/`, { // Adjust the URL as needed
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                        },
                    })
                    .then(response => response.json())
                    .then(data => {

                        document.querySelector('textarea[name="character_choice"]').value = data.character_choice;
                        document.querySelector('textarea[name="media_choice"]').value = data.media_choice;

                        // Modify this part to alternate names between "User" and "Sam"
                        this.messages = data.messages.map((msg, index) => {
                            // Determine the name based on the index being odd or even
                            const name = index % 2 === 0 ? "User" : "Sam";
                            return { name: name, message: msg };
                        });
                        this.updateChatText(this.args.chatBox);
                    })
                    .catch(error => console.error('Error:', error));
                });
            });
        }
    
        toggleState(chatbox) {
            this.state = !this.state;
    
            // show or hides the box
            if(this.state) {
                chatbox.classList.add('chatbox--active')
            } else {
                chatbox.classList.remove('chatbox--active')
            }
        }
        sendMessage(chatbox) {
            // Get the data from the character and media choice form
            var characterChoice = document.querySelector('.choices textarea[name="character_choice"]').value;
            var mediaChoice = document.querySelector('.choices textarea[name="media_choice"]').value;
    
            // Get the data from the user input form
            var userIn = chatbox.querySelector('textarea[name="user_in"]').value;
            let text1 = userIn
            if (text1 === "") {
                return;
            }
            let msg1 = { name: "User", message: text1 }
            chatbox.querySelector('textarea[name="user_in"]').value = '';
            this.messages.push(msg1);
            this.updateChatText(chatbox);

            // Create a FormData object and append all the data
            var formData = new FormData();
            formData.append('character_choice', characterChoice);
            formData.append('media_choice', mediaChoice);
            formData.append('user_in', userIn);
    
            // Send the form data to the server
            fetch(document.querySelector('#chat').action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('#chat [name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(response => {
                console.log(response);
                let msg2 = { name: "Sam", message: response.generated_text };
                this.messages.push(msg2);
                this.updateChatText(chatbox);
                textField.value = ''
            })
            .catch(error => console.error('Error:', error));
            //this.updateChatText(chatbox)
            //textField.value = ''
        }

        updateChatText(chatbox) {
            var html = '';
            this.messages.slice().forEach(function(item, index) {
                if (item.name === "Sam")
                {
                    html += '<div class="alert alert-primary messages__item messages__item--visitor">' + item.message + '</div>'
                }
                else
                {
                    html += '<div class="alert alert-secondary messages__item messages__item--operator">' + item.message + '</div>'
                }
            });
        
            const chatmessage = chatbox.querySelector('.chatbox__messages');
            chatmessage.innerHTML = html;
        }
    }
const chatbox = new Chatbox();
chatbox.display();

document.getElementById('new-chat-btn').addEventListener('click', function() {
    window.location.reload();
});
document.getElementById('hamburger').addEventListener('click', function() {
    var previousChats = document.getElementById('previous-chats');
    if (previousChats.style.display === "none") {
        previousChats.style.display = "block";
    } else {
        previousChats.style.display = "none";
    }
});
</script>
{% endblock %}